@model CapaDominio.Entities.Estado

@{
    ViewData["Title"] = "Editar Estado";
}

<section class="py-5">
    <div class="card">
        <form class="card-body" asp-action="Edit" asp-controller="Estado" method="post">
            <input type="number" asp-for="IdEstado" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Nombre del Estado</label>
                <input class="form-control" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            @if (ViewBag.errorMessage != null)
            {
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.errorMessage!</strong>.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Actualizar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</section>
