@model CapaDominio.Entities.Prioridad

@{
    ViewData["Title"] = "Eliminar Prioridad";
}

<section class="py-5 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">¿Está seguro de eliminar <strong>@Model.Nombre</strong>?</h3>
                @if (ViewBag.errorMessage != null)
                {
                    <div class="mb-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>@ViewBag.errorMessage!</strong>.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                }
            </div>
            <form class="card-footer" asp-action="Delete" asp-controller="Prioridad" method="post">
                <input type="number" asp-for="IdPrioridad" hidden />
                <input asp-for="Nombre" hidden />
                <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</section>