@model CapaDominio.Entities.Tarea

@{
    ViewData["Title"] = "Lista de Tareas";
    var minDate = DateTime.Now.ToString("yyyy-MM-dd 00:00");
}

<button class="btn btn-primary toggle-create">Crear Tarea</button>
<button class="btn btn-secondary toggle-tasks">Mostrar Tareas</button>


<div class="table-responsive shadow d-none my-3" id="tareas-table">
    <table class="table table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Creado
                </th>
                <th>
                    Finalizar
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Prioridad
                </th>
                <th>
                    Categoría (Departamento)
                </th>
                <th>
                    Responsable
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="renderLst"></tbody>
    </table>
</div>

<!-- MODAL CREATE -->
<div id="create-container">
    <form asp-action="Create" method="post" class="shadow-lg card">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-header bg-dark">
            <h2 class="card-title text-white">Nueva Tarea</h2>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label class="control-label">Título</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Descripción</label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Fecha de entrega</label>
                <input asp-for="FechaEstimadaEntrega" class="form-control" min="@minDate" value="@minDate" />
                <span asp-validation-for="FechaEstimadaEntrega" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label class="control-label">Estado</label>
                        <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.IdEstado"></select>
                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Prioridad</label>
                        <select asp-for="IdPrioridad" class="form-control" asp-items="@ViewBag.IdPrioridad"></select>
                        <span asp-validation-for="IdPrioridad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label class="control-label">Categoría</label>
                        <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                        <span asp-validation-for="IdCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Responsable</label>
                        <select asp-for="IdUsuarioAsignado" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                        <span asp-validation-for="IdUsuarioAsignado" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @if (ViewBag.errorMessage != null)
            {
                <div class="form-group my-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.errorMessage!</strong>.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer">
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Crear Tarea</button>
                <button type="button" class="btn btn-danger close-create">Cancelar</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" src="~/js/Tarea.js"></script>